*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
/application/config/email.php
/application/config/config.php
/application/config/database.php
/application/config/tank_auth.php
/application/config/tank_auth_social.php
